/* SRI KRISHNA */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

/* .red-hat-display-FontFamily1{
    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  } */

/* .montserrat-FontFamily2{ Canva Sans Replacement
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  } */

@import url('https://fonts.googleapis.com/css2?family=Bellota:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

/* .bellota-regular-FontFamily3{
    font-family: "Bellota", system-ui;
    font-weight: 400;
    font-style: normal;
  } */

/* START - UTILITY CLASSES */

.flex-row {
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.gap-1 {
    gap: 0.3rem;
}

.gap-half {
    gap: 0.32rem;
}

.inline-block {
    display: inline-block;
}

.center {
    text-align: center;
}

.vertical-center {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

/* END -  UTILITY CLASSES */


/* START - ANIMATIONS */

@keyframes zoom {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.02);
    }
}

/* END - ANIMATIONS */


/* START - GLOBAL STYLES */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 24px;
}

@media screen and (max-width: 62em) {
    html {
        font-size: 20px;
    }
}

@media screen and (max-width: 48em) {
    html {
        font-size: 12px;
    }
}

@media screen and (max-width: 36em) {
    html {
        font-size: 7px;
    }
}

.container {
    position: relative;
    max-width: 1600px;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
}

body {
     --dot-bg: black;
  --dot-color: white;
  --dot-size: 1px;
  --dot-space: 22px;
  background:
    linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
    linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
    var(--dot-color);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* START - GLOBAL STYLES */


/* index.html */

/* START-NAVIGATION BAR */

nav {
    padding: 0.8rem 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

nav a {
    color: #f8f2de;
}

nav ul {
    display: flex;
    gap: 1rem;
    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 1rem;
}

nav ul li:nth-of-type(1) {
    font-family: "Bellota", system-ui;
    font-weight: bolder;
    font-style: normal;
    color: #fcd24f;
    font-size: 1.5rem;
}

nav i {
    font-size: 0.8rem;
    background-color: rgba(255, 255, 255, 0.279);
    padding: 0.35rem 0.45rem;
    border-radius: 50%;
    box-shadow: 0px 0px 0.5rem white;
    border: 1px solid white;
}

nav ul:nth-of-type(2) li:nth-of-type(3) i{
    position: absolute;
    margin-left: 0.2rem;
    background-color: transparent;
    border: none;
    box-shadow: 0px 0px 0px;
    margin-top: 0.5rem;
}

nav input{
    height: 1.58rem;
    width: 18rem;
    background-color: rgba(255, 255, 255, 0.279);
    border-radius: 5rem;
    border: 1px solid white;
    box-shadow: 0px 0px 0.5rem white;
    position: relative;
    padding-left: 1.95rem;
    color: white;
}

nav input::placeholder{
    color: white;
    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 0.68rem;
    text-transform: capitalize;
    
}

nav input li:nth-of-type(3) i:nth-of-type(2){
    position: absolute;
   
}

nav .searchDiv{
    display: none;
}

#screenToggle {
    height: 1.45rem;
    width: 3.15rem;
    background-color: rgba(255, 255, 255, 0.279);
    border: 1px solid white;
    border-radius: 2rem;
    position: relative;
    box-shadow: 0px 0px 0.5rem white;
}


#circle {
    height: 1rem;
    width: 1rem;
    background-color: white;
    border-radius: 2rem;
    position: absolute;
    top: 50%;
    left: 0.2rem;
    transform: translateY(-50%);
    border: 1px solid grey;
}

.navSec{
    z-index: 1;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: none;
    position: fixed;
    --dot-bg: black;
  --dot-color: white;
  --dot-size: 1px;
  --dot-space: 22px;
	background:
		linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
		linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
		var(--dot-color);
    top: 0;
}

.navSec li{
    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 1.1rem;
    color: white;
    text-align: center;
    
}

.navSec a:hover{
    color: #FC5C7D;
}

/* END-NAVIGATION BAR */


/* START-ALL KEYWORDS ROW */

.keyWordsDiv {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    margin-top: 0.8rem;
    margin-bottom: 0.5rem;
}

.line {
    width: 100%;
    height: 0.001rem;
    background-color: white;
}

.keyWordBlock {
    background-color: #fcd24f;
    padding: 0.3rem 0.6rem;
    border: 0.14rem solid #f8f2de;
    border-radius: 1rem;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 0.8rem;
    white-space: nowrap;
    text-align: center;
}

.keyWordBlock:hover {
    background-color: #FC5C7D;
    color: #f8f2de;
}

.marquee {
    animation: scroll 45s linear infinite;
}

@keyframes scroll {
    0% {
        transform: translateX(60%);
    }

    100% {
        transform: translateX(-60%);
    }
}

/* END-ALL KEYWORDS ROW */


/* START-HERO SECTION */

.heroSec {
    margin: 1.2rem 1rem 1.2rem 1rem;
    display: grid;
    grid-template-columns: 4.5fr 2fr;
    gap: 1.2rem;
}

.quizCard-L {
    background-color: #fcd24f;
    height: 25.5rem;
    border: 0.1rem solid #f8f2de;
    text-align: center;
    margin-bottom: 1.8rem;
    box-shadow: 2px 2px 1rem white;
}

.quizCard-L img {
    height: 22.5rem;
    width: 100%;
    border: 0.001rem solid #f8f2de;
}

.quizCard-L p {
    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 1.4rem;
    color: black;
    text-align: center;
}

.mediumQuizCardsDiv {
    display: flex;
    gap: 1.2rem;
}

.quizCard-M {
    background-color: #fcd24f;
    height: 15.8rem;
    border: 0.1rem solid #f8f2de;
    text-align: center;
    width: 48%;
    padding: 0.45rem;
    text-align: left;
    box-shadow: 2px 2px 0.8rem white;
}

.quizCard-M p:nth-of-type(1) {
    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: 1rem;
    margin-top: 0.18rem;
    margin-bottom: 0.28rem;
}

.quizCard-M p:nth-of-type(2) {
    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 0.7rem;
    line-height: 0.8rem;
}

.quizCard-M img {
    height: 9.5rem;
    width: 100%;
    border: 0.1rem solid #f8f2de;
}

.smallQuizCardsDiv {
    display: flex;
    flex-direction: column;
    gap: 0.9rem;

}

.quizCard-S {
    display: flex;
    gap: 0.5rem;
    padding: 0 0.44rem;
    border-bottom: 0.001rem solid #f8f2de;
    padding-bottom: 0.94rem;
}

.quizCard-S img:hover,
.quizCard-L:hover,
.quizCard-M:hover {
    animation: zoom 0.9s ease;
}

.userPoints:hover,
.wrapper:hover {
    animation: zoom 0.6s ease;
}

.quizCard-S img {
    width: 5.8rem;
    height: 3.2rem;
    border: 0.06rem solid #f8f2de;
    box-shadow: 1px 1px 0.4rem white;
}

.quizCard-S p {
    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: 0.8rem;
    color: #f8f2de;
    text-align: left;
    line-height: 0.9rem;
}

.quizCard-S p:hover,
nav ul {
    color: #FC5C7D;
}

/* END-HERO SECTION */


/* START-LEADER BOARD & COMMENTS SECTION */

.leaderBoardCommentSec {
    display: flex;
    margin: 2.2rem 0.8rem 0 0.8rem;
    padding: 1rem 0;
    gap: 1rem;
    margin-bottom: 1.8rem;
}

.divTitle {
    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 1000;
    font-style: normal;
    font-size: 3rem;
    color: white;
    text-transform: capitalize;
    margin-bottom: 1.2rem;
    text-align: center;

}

.leaderBoard {
    background: linear-gradient(90deg, rgba(203, 115, 212, 1) 1%, rgba(0, 188, 212, 1) 35%, rgba(0, 198, 255, 1) 53%, rgba(134, 188, 242, 1) 72%, rgba(203, 115, 212, 1) 100%);
    width: 70%;
    align-items: center;
    padding: 0.2rem 1rem 1.2rem 1rem;
    border: 0.1rem solid white;
    border-radius: 0.6rem;
    animation: bgEffect 10s ease infinite;
    background-size: 600% 600%;
}

.leaderBoardGrid {
    display: grid;
    gap: 1.2rem;
    grid-template-columns: 1fr 1fr;
}

.userPoints {
    display: flex;
    background: linear-gradient(90deg, #D8B5FF 50%, #1EAE98 100%);
    border: 0.1rem solid rgb(241, 241, 56);
    border-radius: 0.8rem;
    padding: 0.3rem 0rem;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}

.wrapper {
    width: 18rem;
    position: relative;
    z-index: 0;
}

@property --angle {
    syntax: '<angle>';
    inherits: false;
    initial-value: 80deg;
}

.wrapper::after,
.wrapper::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-image: conic-gradient(from var(--angle), transparent 0%, #8ad1f2, #06a7f3, #8ad1f2);
    padding: 0.14rem;
    z-index: -1;
    border-radius: 0.9rem;
    animation: 5s spin linear infinite;
}

.wrapper::before {
    filter: blur(0.8rem);
    opacity: 0.8;
}

@keyframes spin {
    from {
        --angle: 0deg;
    }

    to {
        --angle: 360deg;
    }
}

.userIcon p {
    height: 1.6rem;
    width: 1.6rem;
    border-radius: 0.4rem;
    border: 0.068rem solid white;
    background-color: #c076b9;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: 1rem;
    box-shadow: 2px 2px 3px rgb(58, 56, 56);
}

.userName {
    font-size: 1rem;
    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
    font-style: italic;
    font-weight: 1000;
    color: white;
    font-weight: 900;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}

.pointsVal {
    color: gold;
    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-size: 1.1rem;
    line-height: 1.28rem;
}

.pointsWord {
    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 1000;
    font-style: normal;
    font-size: 0.78rem;
    line-height: 0.6rem;
    color: rgb(216, 213, 213);
    text-align: center;
}

.leaderBoardGrid button {
    border-radius: 0.8rem;
    padding: 0.6rem 0rem;
    background-color: #fcd24f;
    color: #D32F2F;
    font-size: 1rem;
    border: 2px solid rgb(107, 104, 104);
    box-shadow: 4px 4px 0rem rgb(107, 104, 104);
    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

.comments {
    width: 30%;
    background: linear-gradient(90deg, rgba(203, 115, 212, 1) 1%, rgba(0, 188, 212, 1) 35%, rgba(0, 198, 255, 1) 53%, rgba(134, 188, 242, 1) 72%, rgba(203, 115, 212, 1) 100%);
    border: 0.04rem solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.2rem 1rem 1.2rem 1rem;
    justify-content: space-evenly;
    border: 0.1rem solid white;
    border-radius: 0.6rem;
    animation: bgEffect 10s ease infinite;
    background-size: 600% 600%;
}

.comment {
    background-color: #fcd24f;
    padding: 0.4rem 0.5rem;
    border: 0.05rem solid white;
    width: 100%;
    min-height: 3rem;
}

.writeComment {
    padding: 0.4rem;
    background-color: #fcd24f;
    border: 0.001rem solid black;
    display: flex;
    flex-direction: column;
    width: 14.3rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 4px 4px 2px rgb(68, 68, 68);
}

.writeComment p {
    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-size: 1rem;
    color: black;
    text-transform: capitalize;
}

.writeComment input {
    width: 100%;
    padding: 0.4rem;
    padding-left: 1.8rem;
    background-color: #f8f2de;
    border: 0.08rem solid rgb(72, 71, 71);
    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 0.6rem;
}

.writeComment input::placeholder {
    color: #000000;
    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 0.6rem;

}

.comment .userIconId,
.writeComment .userIconId {
    display: flex;
    gap: 0.5rem;
}

.comment .userIconComment,
.writeComment .userIconComment {
    background-color: #c076b9;
    height: 1.1rem;
    width: 1.1rem;
    color: white;
    border-radius: 0.2rem;
    border: 0.008rem solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-size: 0.8rem;
}

.comment .userNameComment {
    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 0.8rem;
    color: black;
}

.writeComment .userIconId {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 1rem;

}

.writeComment .userNameComment {
    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 0.9rem;
    color: black;
}

.commentText {
    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: 0.6rem;
    color: black;
}

.sendIcon {
    width: 1.6rem;
    height: 1.6rem;
    position: absolute;
    right: 1rem;
}

/* END-LEADER BOARD & COMMENTS SECTION */


/* START - MOREQUIZES & MOREQUIZES2 */

.moreQuizes,
.moreQuizes2 {
    margin: 2.2rem 2.5rem 4rem 2.5rem;
}

.moreQuizes p:nth-child(1),
.moreQuizes2 p:nth-child(1) {
    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 1000;
    font-style: normal;
    font-size: 2.5rem;
    color: white;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2.8rem;

}

.moreQuizes p:nth-child(1):hover,
.moreQuizes2 p:nth-child(1):hover {
    color: #FC5C7D;
}

.moreQuizes .quizTopicCard img,
.moreQuizes2 .quizTopicCard img {
    width: 100%;
    height: 15rem;
    border-bottom: #f8f2de 0.09rem solid;
    border-top-left-radius: 0.6rem;
    border-top-right-radius: 0.6rem;
}

.moreQuizes2 .quizTopicCard img {
    height: 10rem;
}

.quizTopicCard:hover img {
    animation: zoom 0.8s ease;
}

.quizTopicCard {
    background-color: #fcd24f;
    border: white 0.08rem solid;
    padding-bottom: 1rem;
    position: relative;
    z-index: 0;
    border-radius: 0.6rem;
}

.quizTopicCard:hover {
    animation: zoom 0.8s ease;
    box-shadow: 0 0px 0.8rem #f8f2de;
    overflow: hidden;
}

.moreQuizes2 .quizTopicCard {
    padding-bottom: 0.65rem;
}

.moreQuizes .quizTopicCard p:nth-of-type(1),
.moreQuizes2 .quizTopicCard p:nth-of-type(1) {
    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 1000;
    font-style: normal;
    font-size: 1.3rem;
    color: black;
    text-align: left;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding: 1rem 0.5rem 0rem 0.5rem;
    margin-bottom: 0.5rem;
    text-transform: capitalize;
}

.moreQuizes2 .quizTopicCard p:nth-of-type(1) {
    font-size: 1rem;
}

.moreQuizes .quizTopicCard p:nth-of-type(2),
.moreQuizes2 .quizTopicCard p:nth-of-type(2) {
    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 0.8rem;
    color: black;
    text-align: left;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    

}

.moreQuizes2 .quizTopicCard p:nth-of-type(2) {
    font-size: 0.65rem;
}

.moreQuizes .quizTopicCard div,
.moreQuizes2 .quizTopicCard div {
    background-color: #f04265;
    padding: 0.55rem 1.2rem;
    border: white 0.1rem solid;
    color: white;
    border-radius: 0.9rem;
    font-size: 1.2rem;
    text-transform: capitalize;
    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
    position: absolute;
    z-index: 1;
    transform: translate(-50%, -0rem);
    left: 50%;
    top: 13rem;
    white-space: nowrap;
    font-weight: 1000;
    box-shadow: 0 0px 0.9rem #f8f2de;
}

.moreQuizes2 .quizTopicCard div {
    font-size: 1rem;
    border-radius: 0.8rem;
    padding: 0.35rem 0.65rem;
    transform: translate(-50%, -61%);
    top: 61%;
}

.moreQuizes .quizTopicCard:hover div,
.moreQuizes2 .quizTopicCard:hover div {
    background-color: #1698c7;
    color: white;
    border: white 0.1rem solid;
}

.moreQuizes .moreQuizesGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
    gap: 1.6rem;
}

.moreQuizes2 .moreQuizesGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
    gap: 1.3rem;
}

/* END - MOREQUIZES & MOREQUIZES2 */

/* index.html */


/* login.html */

.loginBody {
    background: linear-gradient(90deg, rgba(203, 115, 212, 1) 1%, rgba(0, 188, 212, 1) 35%, rgba(0, 198, 255, 1) 53%, rgba(134, 188, 242, 1) 72%, rgba(203, 115, 212, 1) 100%);
    animation: bgEffect 10s ease infinite;
    background-size: 600% 600%;
}

@keyframes bgEffect {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.loginSec {
    margin: 2rem 0rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loginSec h1 {
    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 1000;
    font-style: normal;
    font-size: 3.5rem;
    color: white;
    text-transform: uppercase;
    margin-bottom: 0.1rem;
    text-shadow: 5px 5px 0px rgb(52, 51, 51);
}

.loginSec input {
    width: 28rem;
    padding: 0.6rem;
    padding-left: 1.8rem;
    background-color: transparent;
    border: 0.15rem solid rgb(205, 201, 201);
    border-radius: 2rem;
    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
    box-shadow: 0px 0px 8px white;
    font-weight: 500;
    font-style: normal;
    font-size: 1.2rem;
    margin: 0.6rem 0;
    color: white;
}

.loginSec input:focus {
    all: unset;
    width: 26rem;
    padding: 0.6rem;
    padding-left: 1.8rem;
    background-color: transparent;
    border: 0.17rem solid rgb(205, 201, 201);
    border-radius: 2rem;
    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
    box-shadow: 0px 0px 2.5rem white;
    font-weight: 500;
    font-style: normal;
    font-size: 1.2rem;
    margin: 0.6rem 0;
    color: white;
}


.loginSec input::placeholder {
    color: white;
    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 1rem;
}

.loginSec .inputParent {
    position: relative;
}

.loginSec .inputParent i {
    position: absolute;
    right: 2rem;
    top: 50%;
    transform: translateY(-50%);
}

.loginSec div:nth-child(1) {
    width: 35rem;
    padding: 2rem 1rem;
    background-color: transparent;
    border: 0.15rem solid rgba(177, 149, 149, 0.2);
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    backdrop-filter: blur(10rem);
    box-shadow: 0px 0px 2.188rem white;
    position: relative;
}

.loginSec div:nth-child(1):hover {
    box-shadow: 0px 0px 4rem white;
    border: 0.05rem solid rgba(177, 149, 149, 0.2);
}

.loginSec button {
    width: 12rem;
    padding: 0.5rem;
    background-color: #9f78cb;
    text-transform: uppercase;
    border: 0.08rem solid white;
    border-radius: 2rem;
    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: 1.4rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    color: white;
    box-shadow: 4px 4px 0.625rem black,
        0px 0px 1.875rem white;
    text-shadow: 0px 0px 1px white;
}

.loginSec a {
    text-decoration: none;
    color: white;
    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: 0.8rem;
}

.loginSec .icons {
    display: flex;
    gap: 1.2rem;
    margin: 0.5rem;
}

.loginSec .backIcon{
    left: 2rem;
    position: absolute;
    top: 2rem;
}

.loginSec a:nth-of-type(2) {
    position: absolute;
    top: 68%;
    left: 69%;
}

.loginSec .icons i {
    cursor: pointer;
    padding: 0.9rem 0.4rem;
    border: 1px solid whitesmoke;
    border-radius: 0.3rem;
    box-shadow: 0px 0px 0.625rem white;
}

.loginSec .icons i:hover {
    background-color: #9f78cb;
    color: white;
    box-shadow: 0px 0px 1.875rem white;
}

.loginSec:nth-of-type(2) button {
    margin-top: 0.5rem;
}

.loginSec:nth-of-type(2) {
    display: none;
}

/* login.html */


/* quizDesc.html */

.quizDesc {
    margin: 0.8rem 0.8rem 0rem 0.8rem;
    display: grid;
    grid-template-columns: 4.5fr 1.5fr;
}

.quizDesc .quizDescContainer{
    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: 1.4rem;
    margin-right: 0.6rem;
    position: relative;
    height: max-content;
   
}

.quizDesc .quizDescContainer .descTitle{
     background-color: #ae3737;
    color: white;
    padding: 0.5rem 0;
    border-top: 0.09rem solid white;
    border-left: 0.09rem solid white;
    border-right: 0.09rem solid white;
    box-shadow: 0px 0px 0.8rem white;
}

.quizDesc img {
    width: 100%;
    height: 24rem;
    border: 0.1rem solid #f8f2de;
     box-shadow: 0px 4px 0.8rem white;
}

.quizDesc p:nth-child(1) {
    text-align: center;
    text-transform: capitalize;
    padding-bottom: 0.5rem;
}

.iconsDiv p {
    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: 0.75rem;
    color: black;
    text-align: center;
}

.quizDesc .iconsNav {
    padding: 0.2rem 0.5rem 0.7rem 0.5rem;
    display: flex;
    align-items: center;        
}

.quizDesc .iconsNav .iconsDiv .save, .like, .share , .dislike, .cmt{
    background-color: rgba(255, 255, 255, 0.79);
    padding: 0.32rem 0.6rem;
    border-radius: 0.8rem;
    height: max-content;
}

.quizDesc button{
    background-color: #ae3737;
    padding: 0.35rem 2rem;
    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-size: 1.2rem;
    text-transform: capitalize;
    color: white;
    border-radius: 2rem;
    border: none;
    box-shadow: 4px 4px 0 white;
    border: 0.1rem solid #f8f2de;
}

.quizDesc button:hover{
    background-color: #fcd24f;
}

.quizDesc .descDiv{
    background-color: #d84040;
    padding: 1.5rem 2rem;
    border: 0.15rem solid #f8f2de;
}

.quizDesc .descDiv p:nth-of-type(1){
    color: white;
    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: 1.6rem;

}

.quizDesc .descDiv p:nth-of-type(2){
    color: white;
    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 0.9rem;

}

.quizDesc .showMoreBtn{
    margin: 2rem 0 0 0;
    right: 0rem;
    position: absolute;

}

.quizDesc .quizCard-S img{
    width: 5.8rem;
    height: 3.2rem;
    border: 0.06rem solid #f8f2de;
    box-shadow: 1px 1px 0.4rem white;
}

/* quizDesc.html */

/* quiz.html */

.quiz-section{
    background-color: #d84040;
    margin: 0.8rem 3rem 3rem 3rem;
}

.quiz-section img{
    width: 100%;
    height: 26rem;
    margin-bottom: 1rem;
    border: 0.1rem solid #f8f2de;
    box-shadow: 0px 0px 0.8rem white;
}

.quiz-section h1:nth-of-type(1), .quiz-section div:nth-of-type(3) p{
    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 1000;
    font-style: normal;
    font-size: 2.2rem;
    color: #fcd24f;
    text-transform: capitalize;
    margin-left: 0.8rem;
}

.quiz-section div:nth-of-type(3) p{
    margin: 1.2rem 0.8rem 2rem 0.8rem;
    font-size: 1.2rem;
    font-weight: 800;
    
}

.quiz-section div:nth-of-type(1) div{
    padding: 0.4rem 1.4rem;
    background-color: #fcd24f;
    margin-right: 0.8rem;
    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: 1rem;
    color: black;
    border-radius: 2rem;
    border: 0.001rem solid black;
}

.quiz-section div:nth-of-type(1) div span{
    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: 1rem;
    color: white;
    background-color: black;
    padding: 0.01rem 0.6rem;
    margin-left: 0.2rem;
    border-radius: 2rem;
}

.quiz-section .question{
    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 1.2rem;
    color: white;
    margin: 2rem 6rem 0.8rem 6rem;
}

.quiz-section .optionBtn{
    margin : 0.2rem 6rem;
    padding: 0.8rem 0.8rem;
    background-color: #fcd24f;
    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: 1rem;
    text-align: left;
    border: 0.09rem solid black;

}

.quiz-section div:nth-of-type(3) p{
    color: white;
}

.nextBtn, .prevBtn{
    background-color: #fcd24f;
    padding: 0.4rem 2rem;
    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-size: 1rem;
    text-transform: capitalize;
    color: black;
    border-radius: 2rem;
    border: none;
    margin: 1rem 0.6rem;
    height: max-content;
}

.quizName{
    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 1000;
    text-transform: uppercase;
    font-style: normal;
    font-size: 2.6rem;
    color: white;
    text-align: center;
    margin: 0.8rem 0;
}

.answer{
    background-color: rgb(82, 181, 82);
    padding: 0.5rem 1.2rem;
    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: 1rem;
    color: white;
    border: 0.001rem solid black;
    margin: 0.8rem 6rem;
}

.result{
    background-color: #fcd24f;
    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 1000;
    font-style: normal;
    font-size: 1.5rem;
    margin: 2rem;
    text-transform: capitalize;
    text-align: center;
    display: none;
    padding: 2rem;
    border: 1px solid black;
}
/* quiz.html */

/* SRI KRISHNA */